<div class='overTime'>
  <div class='overTime-text'>
    <h3 class='section-sub'>{{{copy.overTime-sub}}}</h3>
    <p class='prose'>{{{copy.overTime-text}}}</p>
    <p class='prose'>{{{copy.overTime_quote}}}</p>
  </div>

  <div class='graphic'>
    <p class='graphic-title'>{{copy.overTime_chartT}}</p>
    <p class='graphic-sub'>{{copy.overTime_chartS}}</p>
    <div class='container container-over_time'>
    </div>
  </div>
</div>
