<section class='sideEffects'>
  <div class='sideEffects-text'>
    <h3 class='section-sub'>{{{copy.sideEffects-sub}}}</h3>
    <p class='prose'>{{{copy.sideEffects-text}}}</p>
  </div>

  <div class='graphic graphic-sideEffects'>
    <p class='graphic-title'>{{copy.sideEffects_chartT}}</p>
    <p class='graphic-sub'>{{copy.sideEffects_chartS}}</p>
    <div class='container container-sideEffects' data-type='general'>
    </div>
  </div>

  <div class='sideEffects-text'>
    <h3 class='section-sub'>{{{copy.sideEffects-sub2}}}</h3>
    <p class='prose'>{{{copy.sideEffects-text2}}}</p>
  </div>

  <div class='graphic graphic-sideEffects'>
    <p class='graphic-title'>{{copy.sideEffects_chartT2}}</p>
    <p class='graphic-sub'>{{copy.sideEffects_chartS}}</p>
    <div class='container container-sideEffects' data-type='specific'>
    </div>
  </div>

  <p class='prose'>{{{copy.post-sideEffects}}}</p>
</section>
